{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
    <main>
    <div class="container">

      <!--Section: Products v.3-->
      <section class="mb-4">

        <!--Grid row-->
        <div class="row wow fadeIn">
        <div class="text-center col-12">
            <h1>{% trans "." %}</h1>
            <h1>{% trans "________" %}</h1>
            <h1>{% trans "Sign Out" %}</h1>

            <p>{% trans 'Are you sure you want to log out?' %}</p>

            <form method="post" action="{% url 'account_logout' %}">
              {% csrf_token %}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
              {% endif %}
              <button type="submit">{% trans 'Sign Out' %}</button>
            </form>
        </div>

        </div>
      </section>
    </div>
    </main>




{% endblock %}
