<!DOCTYPE html>
<html>
<head>
<style>

.row.wow.fadeIn.animated {
  margin-top: 60px!important;
}


</style>
</head>
</html>

{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<body>
    <h1 style="margin-top: 60px!important; margin-left: 450px; ">{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p style="margin-left: 450px;">{% trans "Forgotten your password? Enter your e-mail address below, " %}</p>
    <p style="margin-left: 450px;">{% trans " and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset" style="margin-left: 450px;">
        {% csrf_token %}
        {{ form.as_p }}
        <input 
            style=
                "
                background: #b3b3b3!important;
                color: #fff!important;
                border-radius: 0.375rem;
                box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
                border: none;
                padding: 0.84rem 2.14rem; 
                font-size: .81rem;
                font-weight: 400;
                " 
            class="btn-default" type="submit" value="{% trans 'RESET MY PASSWORD' %}" />
    </form>
    <p></p>
    <p style="margin-left: 450px;">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
</body>
{% endblock %}
