version: "3"

services:
  ecommerce:
    build:
      context: .
    ports:
      - 8000:8000
    command: >
      sh -c "python manage.py runserver 0.0.0.0:8000"
    env_file:
      - .env
    volumes:
      - .:/ecommerce
