{% extends "base.html" %}
{% load crispy_forms_tags %}
orange lighten-3

{% block content %}

<main class="mt-5 pt-5 ">
  <div class="container wow fadeIn">

    <!-- Heading -->
    <h2 class="card-header wow fadeIn orange-text text-center py-4">Feedback form</h2>


    <!--Card-->
    <div class="card">

      <!--Card content-->
      <form method="POST" class="card-body align-self-center">
        {% csrf_token %}

        <!--Grid column-->
        <div class="col-lg-12 col-md-6 mb-4">

          <label for="zip">How many classes do you attend in a week?</label>
          {{ form.class_per_week }}

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-12 col-md-6 mb-4">

          <label for="zip">Are you happy with the class instructors?</label>
          {{ form.instructor }}

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-12 col-md-6 mb-4">

          <label for="zip">Are you happy with how long the classes last?</label>
          {{ form.duration }}

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-12 col-md-6 mb-4">

          <label for="country">Are you happy with the class timetable?</label>
          {{ form.timetable }}
        </div>

        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-12 col-md-6 mb-4">

          <label for="zip">Are you happy with the class size?</label>
          {{ form.class_size }}

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-12 col-md-6 mb-4">

          <label for="zip">Are you happy with the classes facilities?</label>
          {{ form.facilities }}

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-12 col-md-6 mb-4">

          <label for="zip">Are you happy with the price?</label>
          {{ form.price }}

        </div>
        <!--Grid column-->

        <hr>

        <button class="btn btn-orange btn-lg btn-block" type="submit">Leave Feedback</button>

      </form>

    </div>
    <!--/.Card-->

  </div>
  <!--Grid row-->

</main>

{% endblock content %}