<!DOCTYPE html>
<html>
<head>
<style>

.page-footer {
    background-color: #0071bc;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  margin: 0px 80px 20px 80px;
}

.strong-title {
  font-weight: 400;
  font-family: Roboto,sans-serif;
  font-size: 1rem;
  display: flex;
}

.footer-segment {
  display: flex;
  flex-direction: column;
  width: 33%;
  /* margin: 0px 20px; */
  /* background-color: red; */
}

.p {
  text-align: left;
  margin-top: 5px;
  width: 85%;
}

</style>
</head>
</html>

<footer class="page-footer text-center font-small mt-4 wow fadeIn">

    <hr class="my-4">
    <div class="footer-container" id="footer_container">
      <div class="footer-segment">
        <strong class="strong-title">About us</strong>
        <p class="p">
          We are a Spanish company that manufactures camping equipment with the objective of providing you with all the tools available so that you can enjoy this beautiful sport without any worries knowing that our products will support you even in the most difficult situations.
        </p>
      </div>
      <div class="footer-segment">
        <strong class="strong-title">Mission</strong>
        <p class="p">
          To provide our customers with the highest quality, longest lasting equipment with the latest technology available in the market. Our mission is to continue innovating in favor of our customers in order to provide them with equipment that meets their needs.
        </p>
      </div>
      <!-- <strong class="strong-title">Conocenos</strong> -->
      <div class="footer-segment">
        <strong class="strong-title">Contact Us</strong>
        <p class="p">
          Calle Bartolomé de Medina, 10
        </p>
        <p class="p" style="margin-top: 2px;">
          +34 665 790 193
        </p>
      </div>
    </div>
    
    <!--Copyright-->
    <div class="footer-copyright py-3">
      Contact e-mail: 
      <a href="mailto:acme-campers-help@acme-campers.com">acme-campers-help@acme-campers.com</a>
    </div>
    <!--/.Copyright-->

  </footer>