{% load cart_template_tags %}

<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand waves-effect" href="/">
        <strong class="orange-text">JymBüd</strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link waves-effect" href="/checkout">
            Checkout</a>
          </li>
            <li class="nav-item">
            <a class="nav-link waves-effect" href="/feedback">
            Feedback</a>
          </li>
        </ul>

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
            {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a href="{% url 'core:order-summary' %}" class="nav-link waves-effect">
                  <span class="badge btn-orange z-depth-1 mr-1"> {{ request.user|cart_item_count }} </span>
                  <span class="clearfix d-none d-sm-inline-block"> Your bookings </span>
                </a>
              </li>
            <li class="nav-item">
                <a class="nav-link waves-effect" href="{%  url 'account_logout' %}">
                  <span class="clearfix d-none d-sm-inline-block"> Logout </span>
                </a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link waves-effect" href="{%  url 'account_login' %}">
                  <span class="clearfix d-none d-sm-inline-block"> Login </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect" href="{%  url 'account_signup' %}">
                  <span class="clearfix d-none d-sm-inline-block"> Signup </span>
                </a>
            </li>
            {% endif %}
        </ul>
      </div>

    </div>
  </nav>