{% extends "base.html" %}

{% block content %}

  <main class="mt-5 pt-5">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <img src="https://raw.githubusercontent.com/feiIin/django-ecommerce/SC/try/media/logojymbud.png" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">
            <p class="lead font-weight-bold">{{ object.title }}</p>
            <div class="mb-3">
              <a href="">
                  <span class="badge orange mr-1">{{ object.get_category_display}}</span>
              </a>
            </div>

            <p class="lead">
              <span class="mr-1">
              </span>

              <span>{{ object.label }}</span>
            </p>

            <p>{{ object.description }}</p>
                <a href="{{ object.get_add_to_cart_url }}" class="btn btn-orange btn-md my-0 p">
                    Book the class
                </a>
              <a href="{{ object.get_remove_from_cart_url }}" class="btn orange btn-md my-0 p">
                Cancel booking
              </a>
          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>
      </div>
      <!--Grid row-->

    </div>
  </main>

{% endblock content %}
