{% extends "base.html" %}

{% block content %}

<main class="mt-5 pt-5">
  <div class="container dark-grey-text mt-5">

    <!--Grid row-->
    <div class="row wow fadeIn">

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <img
          src="https://s3.amazonaws.com/btoimage/prism-thumbnails/articles/20141125-fitfactory2048-08.jpg-resize_then_crop-_frame_bg_color_FFF-h_1365-gravity_center-q_70-preserve_ratio_true-w_2048_.webp"
          class="img-fluid" alt="">

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <!--Content-->
        <div class="p-4">
          <p class="lead font-weight-bold">{{ object.title }}</p>
          <div class="mb-3">
            <a href="">
              <span class="badge orange mr-1">{{ object.get_category_display}}</span>
            </a>
          </div>

          <p class="lead">
            <span class="mr-1">
            </span>

            <span>{{ object.label }}</span>
          </p>

          <p>{{ object.description }}</p>
          <a href="{{ object.get_add_to_cart_url }}" class="btn btn-orange btn-md my-0 p">
            Book the class
          </a>

          <a href="{{ object.get_remove_from_cart_url }}" class="btn orange btn-md my-0 p">
            Cancel booking
          </a>
        </div>
        <!--Content-->

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

    <hr>

    <!--Grid row-->
    <div class="row d-flex justify-content-center wow fadeIn">

      <!--Grid column-->
      <div class="col-md-6 text-center">

        <h4 class="my-4 h4">You may also like</h4>
      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row wow fadeIn">

      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4">

        <img
          src="https://www.telegraph.co.uk/content/dam/health-fitness/spark/centrum/mixed-step-gym-glass.jpg?imwidth=480"
          class="img-fluid" alt="">

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">

        <img
          src="https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/k-126-teddy-4158.jpg?w=800&dpr=1&fit=default&crop=default&auto=format&fm=pjpg&q=75&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=bfe4b11c60f85a858da50665adda60dd"
          class="img-fluid" alt="">

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">

        <img src="https://www.virginactive.com.sg/images/library/Facilities/Cycle.jpg" class="img-fluid" alt="">

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
</main>

{% endblock content %}