{% load static %}

<script
  type="text/javascript"
  src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"
></script>

<script
  type="text/javascript"
  src="{% static 'vendor/animsition/js/animsition.min.js' %}"
></script>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"
></script>

<script
  type="text/javascript"
  src="{% static 'vendor/select2/select2.min.js' %}"
></script>
<script type="text/javascript">
  $(".selection-1").select2({
    minimumResultsForSearch: 20,
    dropdownParent: $("#dropDownSelect1")
  });
</script>

<script
  type="text/javascript"
  src="{% static 'vendor/slick/slick.min.js' %}"
></script>
<script type="text/javascript" src="{% static 'js/slick-custom.js' %}"></script>

<script
  type="text/javascript"
  src="{% static 'vendor/countdowntime/countdowntime.js' %}"
></script>

<script
  type="text/javascript"
  src="{% static 'vendor/lightbox2/js/lightbox.min.js' %}"
></script>
<script crossorigin src="{% static 'js/react.development.js' %}"></script>
<script crossorigin src="{% static 'js/react-dom.development.js' %}"></script>

<script
  type="text/javascript"
  src="{% static 'vendor/sweetalert/sweetalert.min.js' %}"
></script>
<script type="text/javascript">
  $(".block2-btn-addcart").each(function() {
    var nameProduct = $(this)
      .parent()
      .parent()
      .parent()
      .find(".block2-name")
      .html();
    $(this).on("click", function() {
      swal(nameProduct, "is added to cart !", "success");
    });
  });
</script>

<script src="{% static 'js/main.js' %}"></script>
