{% extends "base.html" %}

{% block content %}

<div class="container my-5 p-5 z-depth-1">


  <!--Section: Content-->
  <section class="text-center dark-grey-text">

    <h6 class="font-weight-bold text-center grey-text text-uppercase small mb-4">Team</h6>
    <!-- Section heading -->
    <h3 class="font-weight-bold text-center dark-grey-text pb-2">Executive Team</h3>
    <hr class="w-header my-4">
    <!-- Section description -->
    <p class="text-center text-muted w-responsive mx-auto mb-5">The team behind it all! </p>

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mb-4">

        <div class="view z-depth-1 mb-4">
          <img src="https://avatars3.githubusercontent.com/u/44904601?s=460&u=115daed1a20d71acb7d36f830fa71384ca57e2a2&v=4" class="img-fluid mx-auto" alt="smaple image">
        </div>
        <h6 class="font-weight-bold">Sabrina Chiesurin</h6>
        <small class="text-muted">UX Engineer & Cofounder </small>
        <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0 text-muted">

        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-4">

        <div class="view z-depth-1 mb-4">
          <img src="https://avatars3.githubusercontent.com/u/44904580?s=460&u=c4228a35418840af4552135adbf4abe5dd747bbe&v=4" class="img-fluid mx-auto" alt="smaple image">
        </div>
        <h6 class="font-weight-bold">Odhran McHugh</h6>
        <small class="text-muted">Recommender System Engineer & Cofounder</small>
        <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0 text-muted">

        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-4">

        <div class="view z-depth-1 mb-4">
          <img src="https://avatars2.githubusercontent.com/u/46708753?s=400&u=2ec22cd410765553f50768b587f6729959645500&v=4" class="img-fluid mx-auto" alt="smaple image">
        </div>
        <h6 class="font-weight-bold">Lucia Parga Basanta</h6>
        <small class="text-muted">UX Engineer & Cofounder</small>
        <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0 text-muted">
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-4">

        <div class="view z-depth-1 mb-4">
          <img src="https://avatars0.githubusercontent.com/u/46689864?s=400&v=4" class="img-fluid mx-auto" alt="smaple image">
        </div>
        <h6 class="font-weight-bold">Karan Singh</h6>
        <small class="text-muted">Customer Churn Engineer & Cofounder</small>
        <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0 text-muted">

        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

    <hr>
  </section>
  <!--Section: Content-->

</div>
{% endblock content %}